{% extends 'base.html.twig' %}
{% set current_page = 'order' %}

{% block header_logo %}
    <img class="logo-alimosmose" src="{{ asset('build/images/logo-boutique.png') }}" alt="logo boutique"/>
{% endblock %}

{% block title %}Merci !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('order') }}
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Merci pour votre commande</h1>
        <p>
            Nous effectuons des livraisons une fois par mois, vous serez livrés lors de la prochaine livraison.
        </p>
        <p>
            N'hésitez pas à nous contacter pour la moindre question, ou si vous souhaitez modifier votre lieu de livraison.
        </p>
        <p>
            Merci ! À bientôt !
        </p>

    </div>



{% endblock %}


