{% extends 'base.html.twig' %}
{% set current_page = 'order' %}

{% block header_logo %}
    <img class="logo-alimosmose" src="{{ asset('build/images/logo-boutique.png') }}" alt="logo boutique"/>
{% endblock %}

{% block title %}Merci !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('order') }}
{% endblock %}


{% block body %}
    <div class="example-wrapper">
        <h1>Merci pour votre commande</h1>
        <p>
            Vos produits vont être envoyés et vous les recevrez d’ici peu.
        </p>
        <p>
            N'hésitez pas à nous contacter pour la moindre question. À bientôt !
        </p>

    </div>


{% endblock %}


