{% extends 'base.html.twig' %}
{% set current_page = 'order' %}


{% block header_logo %}
    <img class="logo-alimosmose" src="{{ asset('build/images/logo-boutique.png') }}" alt="logo boutique"/>
{% endblock %}

{% block title %}Merci !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('order') }}
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Merci pour votre commande</h1>
    <p>
         Vous pouvez venir récupérer vos produits dès que vous le souhaitez.
    </p>
    <p>
        Nous vous demandons juste de nous contacter avant pour prendre un rendez-vous afin de vous accueillir dans les meilleures conditions.
    </p>
    <p>
        Merci ! À bientôt !
    </p>

    </div>


    {% endblock %}


