// Variables globales (couleurs, fonts, tailles)

$font-family : 'Open Sans', sans-serif;
$font-family-title : 'Amatic SC', sans-serif;
$font-family-nav : 'Libre Bodoni', sans-serif;
$font-size-h1 : 6rem;
$font-size-h2 : 4rem;
$font-size-h3 : 2.4rem;
$font-size-p : 1.8rem;
$font-size-button : 1.6rem;
$font-black : #000000;
$font-white : #FFFDF7;
$background-color: #FFFDF7;
$color-green : #A0AB81;
$color-orange: #D96946;
$color-beige : #F1E7D8;

