// Variables globales (couleurs, fonts, tailles)

$font-family : 'Open Sans', sans-serif;
$font-family-title : 'Amatic SC', sans-serif;
$font-family-nav : 'Libre Bodoni', sans-serif;
$font-size-h1 : 4rem; // 40px
$font-size-h2 : 3rem; // 30px
$font-size-h3 : 2rem;   // 20px
$font-size-p : 1.4rem;  // 14px
$font-size-button : 1.4rem; // 14px
$font-black : #000000;
$font-white : #FFFDF7;
$background-color: #FFFDF7;
$color-green : #A0AB81;
$color-orange: #D96946;
$color-beige : #f6eee1;

