{% extends 'base.html.twig' %}

{% block title %}Mail de réinitialisation envoyé{% endblock %}

{% block body %}
    <main>
        <section aria-labelledby="reset-password-title">
            <h1 id="reset-password-title">Réinitialisation du mot de passe</h1>

            <p>
                Si vous êtes déjà inscrit, un email vous sera envoyé avec un lien pour choisir un nouveau mot de passe.
                Attention, ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>

            <p>
                Si vous ne recevez pas de mail, vérifiez vos spams. Sinon
                <a href="{{ path('app_forgot_password_request') }}">réessayez ici</a>.
            </p>
        </section>
    </main>


{% endblock %}


{# Role: Page displayed after submitting the forgotten password form.
Function: Inform the user that if their email address exists, a reset link has been sent. #}
