<h2>Bonjour!</h2>

<p>Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous :</p>

<p>
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
        Réinitialiser mon mot de passe
    </a>
</p>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>À bientôt!</p>


{# Role: Content of the email sent to the user.
Function: Contains the reset link with the token. #}
