{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="example-wrapper">

        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="form-errors" role="alert">
                {{ flash_error }}
            </div>
        {% endfor %}


        <h2>Réinitialisation du mot de passe</h2>

        {{ form_start(requestForm, {
            'attr': {'aria-label': 'Formulaire de demande de réinitialisation du mot de passe'}
        })
        }}

        <div class="form-row">
            {{ form_row(requestForm.email, {
                'attr': {
                    'placeholder': 'Votre adresse email',
                    'aria-required': 'true'
                }
            }) }}
        </div>

        <div class="form-row">
            <small>
                Veuillez renseigner l'adresse email utilisée lors de votre inscription.<br>
                Un lien de réinitialisation vous sera envoyé si le compte existe.
            </small>
        </div>

        <button type="submit">Confirmer</button>

        {{ form_end(requestForm) }}

    </div>


    <style>

        h2{
            margin: 1em 0;
            padding-bottom: 1em;
        }


        body {

            color: #333;
            margin: 0;
        }

        .footer{
            margin-top: 8em;
        }
        .example-wrapper {
            max-width: 480px;
            margin: 0 auto;
        }


        .form-row {
            margin: 2.5em 0;
        }


        .form-row label {
            display: block;
            margin-bottom: 0.3em;
            font-weight: 500;
            color: #555;

        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        select {
            width: 100%;
            padding: 0.7em 1em;
            border: 1.2px solid #ccc;
            background: transparent;
            transition: border-color 0.3s ease;
        }


        {# focus-visible pour accessibilité#}
        input:focus-visible,
        select:focus-visible,
        button:focus-visible {
            outline: 2px solid #9aa584;
            outline-offset: 2px;
        }

        button[type="submit"] {
            font-weight: 600;
            padding: 1em;
            margin-bottom: 3em;
            margin-top: 2em;
            width: 100%;
            border: none;
            border-radius: 8px;
        }



        .form-errors {
            color: #d93025;
            font-size: 0.85rem;
            margin-top: 0.3em;
        }

        /* Champ caché */
        input[type="hidden"] {
            display: none;
        }





        @media (max-width: 600px) {


            .example-wrapper {
                padding: 0 1.5em;
            }

            .form-row {
                margin: 2em 0;
            }

            input,
            select {

                padding: 0.8em;
            }

            button[type="submit"] {
                padding: 0.9em;
            }
        }
    </style>



{% endblock %}



{# Rôle : Formulaire “mot de passe oublié”.
Fonction : Afficher le ResetPasswordRequestFormType pour que l’utilisateur entre son email. #}



{# L’utilisateur clique sur “Mot de passe oublié” → formulaire request.html.twig avec ResetPasswordRequestFormType.
Il soumet son email → ResetPasswordRequest est créé, un token est généré.
Après soumission → page check_email.html.twig pour informer l’utilisateur.
Email envoyé → email.html.twig contient le lien avec token.
L’utilisateur clique sur le lien → formulaire reset.html.twig avec ChangePasswordFormType.
Nouveau mot de passe validé → hashé et enregistré, token supprimé. #}
