{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <h1>Nouveau mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Confirmer</button>
    {{ form_end(resetForm) }}
{% endblock %}


{# Rôle : Formulaire pour saisir le nouveau mot de passe.
Fonction : Afficher le ChangePasswordFormType après validation du token. #}
