{% extends 'base.html.twig' %}
{% set current_page = 'pension' %}

{% block title %}Pension et éducation canine{% endblock %}

{% block body %}
<div>
    <h2>Pension canine</h2>

    <h2>Éducation canine</h2>

    <h2>Garde à domicile</h2>


</div>
{% endblock %}
