{% extends 'base.html.twig' %}
{% set current_page = 'legalnotices' %}
{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('content') }}
{% endblock %}

{% block body %}

    <div>
        <h2>Mentions légales</h2>
        <div class="content-padding">
            <h3 class="h3-content">Éditeur du site</h3>
            <p>Nom / Raison sociale : Animosmose</p>
            <p>Forme juridique : [Auto-entrepreneur / SARL / SAS…]</p>
            <p>Adresse du siège social : 5 Le Petit Bodo, 56230 Berric</p>
            <p>Téléphone : 06 25 81 48 45</p>
            <p>Adresse e-mail : animosmose@gmail.com</p>
            <p>Numéro SIRET Animosmose: 80237932100010</p>
            <p>Numéro SIRET Alimosmose: 90156833700017</p>
            <p>Capital social : [Si applicable]</p>
            <p>Directeur de publication : [Nom du gérant / propriétaire]</p>


            <h3 class="h3-content">Hébergeur du site</h3>
            <p>Nom : [Ex. OVH, IONOS, etc.]</p>
            <p>Adresse : [Adresse complète de l’hébergeur]</p>
            <p>Téléphone : [Numéro]</p>


            <h3 class="h3-content">Propriété intellectuelle</h3>
            <p>Tous les contenus (textes, images, logos, vidéos, logiciels…) du site Animosmose sont la propriété de l’éditeur sauf mention contraire.</p>
            <p>Toute reproduction ou utilisation sans autorisation écrite est interdite.</p>


            <h3 class="h3-content">Données personnelles</h3>
            <p>Animosmose collecte certaines données (inscriptions, commandes, formulaires).</p>
            <p>Conformément au RGPD, vous avez un droit d’accès, de rectification et de suppression de vos données.</p>
            <p>Pour exercer ce droit : [Adresse e-mail de contact].</p>


            <h3 class="h3-content">Responsabilité</h3>
            <p>L’éditeur ne peut être tenu responsable des dommages liés à l’accès ou l’utilisation du site, ni des informations publiées.</p>


            <h3 class="h3-content">Cookies</h3>
            <p>Le site peut utiliser des cookies pour améliorer l’expérience utilisateur et les statistiques.</p>
            <p>L’utilisateur peut les refuser ou les paramétrer via son navigateur.</p>
        </div>
    </div>
{% endblock %}




