{% extends 'base.html.twig' %}
{% set current_page = 'legalnotices' %}
{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('content') }}
{% endblock %}

{% block body %}

    <div>
        <h1>Mentions légales</h1>
        <div class="content-padding">
            <h2 class="h3-content">Éditeur du site</h2>
            <p>Nom / Raison sociale : Animosmose</p>
            <p>Forme juridique : SAS </p>
            <p>Adresse du siège social : 5 Le Petit Bodo, 56230 Berric</p>
            <p>Téléphone : 06 25 81 48 45</p>
            <p>Adresse e-mail : animosmose@gmail.com</p>
            <p>Numéro SIRET Alimosmose: 90156833700017</p>
            <p>Capital social : Sans objet</p>
            <p>Directeur de publication : Baptiste Delahaye</p>


            <h2 class="h3-content">Hébergeur du site</h2>
            <p>Nom : PlanetHoster Inc.</p>
            <p>Adresse : 4416 Louis-B.-Mayer, Laval (Québec) H7P 0G1, Canada</p>
            <p>Téléphone France (support) : +33 1 76 60 41 43</p>


            <h2 class="h3-content">Propriété intellectuelle</h2>
            <p>Tous les contenus (textes, images, logos, vidéos, logiciels…) du site Animosmose sont la propriété de l’éditeur sauf mention contraire.</p>
            <p>Toute reproduction ou utilisation sans autorisation écrite est interdite.</p>


            <h2 class="h3-content">Données personnelles</h2>
            <p>Animosmose collecte certaines données (inscriptions, commandes, formulaires).</p>
            <p>Conformément au RGPD, vous avez un droit d’accès, de rectification et de suppression de vos données.</p>
            <p>Pour toute demande concernant vos données personnelles, contactez : animosmose@gmail.com</p>



            <h2 class="h3-content">Responsabilité</h2>
            <p>L’éditeur ne peut être tenu responsable des dommages liés à l’accès ou l’utilisation du site, ni des informations publiées.</p>
            <p>L’éditeur s’efforce d’assurer l’exactitude des informations diffusées, mais ne saurait être tenu responsable d’erreurs ou d’omissions.</p>


            <h2 class="h3-content">Cookies</h2>
            <p>Le site peut contenir des contenus intégrés depuis Instagram. Ces contenus peuvent déposer des cookies tiers permettant à Instagram de suivre votre navigation.</p>
            <p>Vous pouvez choisir de bloquer ces cookies via les paramètres de votre navigateur.</p>

        </div>
    </div>
{% endblock %}




