{% extends 'base.html.twig' %}

{% block title %}On parle de nous!{% endblock %}

{% block body %}

    <div>
        <h1>Ça parle de nous !</h1>

        <section class="background-beige" aria-labelledby="video-dailymotion">
            <h2>Les débuts de Baptiste</h2>

            <div class="posts-insta {% if not cookieService.isConsentAccepted() %}blurred{% endif %}">
                <div class="post-insta" id="dailymotion-container">
                    {# The Dailymotion iframe is injected by JS if the user accepts. #}
                </div>

                {% if not cookieService.isConsentAccepted() %}
                    <div class="insta-overlay" role="dialog" aria-modal="true">
                        <p>Pour afficher la vidéo, veuillez accepter les cookies.
                            <button class="accept-now-btn">Accepter maintenant</button>
                        </p>
                    </div>
                {% endif %}
            </div>
        </section>


        {# --- List of press articles --- #}
        <section role="region" aria-labelledby="articles-presse">
            <h2 id="articles-presse">Les articles qui parlent de nous :</h2>
            <ul>
                <li>
                    <a href="https://www.ouest-france.fr/bretagne/berric-56230/berric-animosmose-tout-pour-le-bien-etre-animal-6987861"
                       target="_blank" rel="noopener noreferrer">
                        Animosmose : tout pour le bien-être animal
                    </a>
                </li>
                <li>
                    <a href="https://www.letelegramme.fr/morbihan/vannes-56000/ils-ouvrent-animosmose-une-pension-dediee-au-bien-etre-animal-a-berric-3688522.php"
                       target="_blank" rel="noopener noreferrer">
                        Ils ouvrent AnimOsmose, une pension dédiée au bien-être animal à Berric
                    </a>
                </li>
                <li>
                    <a href="https://www.ouest-france.fr/bretagne/berric-56230/berric-sauver-les-trotteurs-de-l-abattoir-c-est-son-cheval-de-bataille-4000bd0c-99e2-11eb-9223-e02ac72f0be8"
                       target="_blank" rel="noopener noreferrer">
                        Berric. Sauver les trotteurs de l’abattoir, c’est son cheval de bataille
                    </a>
                </li>
                <li>
                    <a href="https://www.ouest-france.fr/bretagne/berric-56230/berric-sauver-les-trotteurs-de-l-abattoir-c-est-son-cheval-de-bataille-4000bd0c-99e2-11eb-9223-e02ac72f0be8"
                       target="_blank" rel="noopener noreferrer">
                        « La France compte le plus grand nombre d'abandons d'animaux »
                    </a>
                </li>
                <li>
                    <a href="https://www.ouest-france.fr/bretagne/la-gacilly-56200/la-gacilly-la-brasserie-lulu-offre-un-nouveau-service-7078520"
                       target="_blank" rel="noopener noreferrer">
                        La Brasserie Lulu offre un nouveau service
                    </a>
                </li>
            </ul>
        </section>

    </div>

{% endblock %}
