{% extends 'base.html.twig' %}

{% block title %}On parle de nous!{% endblock %}

{% block body %}

    <div>
        <h1>Ça parle de nous !</h1>

        <div style="position:relative; padding-bottom:56.25%; height:0; overflow:hidden; max-width:500px; margin:0 auto;">
            <iframe src="https://geo.dailymotion.com/player.html?video=x63r9l"
                    style="position:absolute; top:0; left:0; width:100%; height:100%; border:none;"
                    allowfullscreen
                    title="Dailymotion Video Player"
                    allow="web-share">
            </iframe>
        </div>
        <br>
        <p>Les articles qui parlent de nous :</p>
        <br>
        <a href="https://www.ouest-france.fr/bretagne/berric-56230/berric-animosmose-tout-pour-le-bien-etre-animal-6987861">Animosmose : tout pour le bie-être animal</a><br><br>
        <a href="https://www.letelegramme.fr/morbihan/vannes-56000/ils-ouvrent-animosmose-une-pension-dediee-au-bien-etre-animal-a-berric-3688522.php">Ils ouvrent AnimOsmose, une pension dédiée au bien-être animal à Berric</a> <br><br>
        <a href="https://www.ouest-france.fr/bretagne/berric-56230/berric-sauver-les-trotteurs-de-l-abattoir-c-est-son-cheval-de-bataille-4000bd0c-99e2-11eb-9223-e02ac72f0be8">Berric. Sauver les trotteurs de l’abattoir, c’est son cheval de bataille</a><br><br>
        <a href="https://www.ouest-france.fr/bretagne/berric-56230/berric-sauver-les-trotteurs-de-l-abattoir-c-est-son-cheval-de-bataille-4000bd0c-99e2-11eb-9223-e02ac72f0be8">« La France compte le plus grand nombre d'abandons d'animaux »</a><br><br>
        <a href="https://www.ouest-france.fr/bretagne/la-gacilly-56200/la-gacilly-la-brasserie-lulu-offre-un-nouveau-service-7078520">La Brasserie Lulu offre un nouveau service</a><br><br>
    </div>
{% endblock %}

