@use "../abstracts" as *;

button, .button{
    color : $font-white;
    background-color : $color-orange;
    border: $color-orange solid 1px;
    border-radius:40px;
    padding:1em;
    margin-bottom :1em;
    cursor: pointer;
    font-size: $font-size-button;
}

button:hover, .button:hover {
    background-color: #b15116; /* slightly changes the color on hover */
}

a{
    text-decoration:none;
}

.button-shop {
    background-color: $background-color;
    color: #6b3e00;
    border: 1px solid #6b3e00;
    border-radius: 10px;
    padding: 1em;
    display: block;
    margin: 0 auto 2em;
    font-size: $font-size-p;
    text-decoration: none;
    width: 10em;
    text-align: center;
    animation: pulse-color 4s ease-in-out infinite alternate; // alternate makes it go back and forth instead of restarting from the beginning
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

// animation → controls an automatic, continuous change based on @keyframes.
// transition → controls a hover-triggered change and makes it smooth.


@keyframes pulse-color {
    0% {
        background-color: $background-color;
        color: #6b3e00;
        transform: scale(1); /* normal size */
    }
    50% {
        background-color: #6b3e00;
        color: $background-color;
        transform: scale(1.1); /* slight zoom */
    }
    100% {
        background-color: $background-color;
        color: #6b3e00;
        transform: scale(1);
    }
}


.button-shop:hover {
    animation-play-state: paused; /* stops the animation */
    background-color: $color-green;
    color: $background-color;
    transform: scale(1.1);
    text-decoration: underline;
}
