@use "../abstracts" as *;
@import 'normalize.css';

.footer{
    background-color: $color-green;
    font-family:$font-family-nav ;
    margin-top:4em;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 1em 2em;
    gap: 1em;
}


.footer-col-left {
    flex:1 1 20%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the elements inside the block */
    width: 20%;
    min-width: 180px;
    gap: 1em;
    margin-right: 4em;
    margin-left:2em;
}

.footer-flex-reseaux{
    display : flex;
    justify-content:center;
    gap: 1em;

}

.footer img {
    width : 100%;
    max-width: 150px; /* desired normal size */
    min-width: 100px; /* prevents it from becoming too small */
    height: auto;
}

.copyright{
    font-size:1rem;
}

.footer-nav {
    flex: 1 1 20%;
    //min-width: 150px;
    font-size:1.3rem;
    margin-top:1.5em;
}


.footer-nav p {
    margin-bottom: 0.4em;
}


.footer a{
    color: $font-black ;
    text-decoration:none;
}


/* To prevent columns from deforming too much */
.footer-nav p,
.footer-nav a {
    word-break: break-word;
}



.footer a:hover {
    text-decoration:underline;
    font-weight:bold;
}

@media (max-width: 767px) {
    .footer-flex {
        flex-wrap: wrap; /* Allows multiple rows */
        justify-content: center;
        gap: 1.5em;
        padding: 1em;
    }

    /* Each column takes 45% of the width (2 columns per row) */
    .footer-col-left,
    .footer-nav {
        flex: 1 1 45%;
        margin: 0;
        text-align: center;
        font-size: 1rem;
        min-width: 0; /* prevents overflow */
        align-items: center; /* centers flex items inside .footer-col-left */
        display: flex;
        flex-direction: column;
    }


    .footer-nav{
        padding-top:0.5em;
    }
    .footer-flex-reseaux {
        justify-content: center;
        gap: 0.8em;
    }

    .footer img {
        max-width: 120px;
        margin: 0 auto 1em 0;
    }

    .footer-col-left img {
        margin: 0 auto;
    }

    .copyright{
        font-size:0.7rem;
    }

}
