@use "../abstracts" as *;
//@import 'normalize.css';


.contact-flex{
    display:flex;
    margin-left:20em;
    gap:10em;

}

.google-map{
    width: 500px;
    height: 350px;
    margin : 3em;

}

.info-contact{
    margin-top : 6em;
    margin-left: 3em;
}

.whatsapp {
    padding-right:0.5em;
    padding-bottom: 1em;

}
.info-contact .fa-brands  {
    padding-top:1em;

}

.info-contact .fa-solid{
    margin-right: 0.5em;
}


.space-p p{
    margin-bottom:1.5em;
}

.space-p p:last-of-type {
    margin-bottom: 4em;
}


a:focus-visible {
    outline: 2px solid #da6a47;
    outline-offset: 4px;
}

// FORM
.input {
    padding: 0.75em 1em;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    font-family: inherit;
}

.input:focus {
    outline: none;
    border-color: #9aa584; /* accent color */
}

.textarea {
    width: 100%;
    height: 180px;
    resize: none;
    box-sizing: border-box;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.75em 1em;
    font-family: inherit;
}

.textarea:focus {
    outline: none;
    border-color: #9aa584;
}

.field-flex > div:last-child {
    width: 290px;
}


/* Each field occupies 100% width of the container */
.field {
    margin-bottom: 1.5em;
    width: 100%;
}

::placeholder {
    font-style: italic;
    font-size: 1.1rem;
    color: #999;
}

.toolbar {
    display: flex;
    justify-content: center;
    margin-top:1em
}


.form-container {
    max-width: 600px; /* max width for desktop */
    margin: 0 auto;
    padding: 2em 1em;
}


.field-flex {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.left-fields{
    width:250px;
}



h4{
    text-align:center;
    padding-top:2em;
}


button[type="submit"] {
    background-color: #b95735;;
    border: none;
    color: white;
    padding: 0.75em 2em;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.texte-RGPD{
    font-size:smaller;
    margin-bottom:4em;
}

.texte-RGPD a{
    color: black ;
    text-decoration: underline;
}

input[type="checkbox"] {
    margin-left: 0.5em;
    vertical-align: middle; /* better aligns with the text */
}


@media (max-width: 768px) {
    .contact-flex {
        display: block;
        margin: 0 1em;
    }

    .google-map {
        width: 100%; /* Forces the map to 100% of its container width */
        height: 300px; /* reduce height on mobile */
        margin: 1.5em 0;
    }

    .info-contact {
        margin: 2em 0 3em 0;
        text-align: center;
    }

    .field-flex {
        display: block;
        max-width: 90vw;
        margin: 0 auto;
    }

    .field-flex > div:last-child {
        width: 100%;
    }

    .left-fields {
        width: 100% ;
        margin-bottom: 1.5em;
    }

    .field {
        width: 100%;
    }

}
