@use "../abstracts" as *;



.contact-flex{
    display:flex;

}

.google-map{
    margin : 3em;

}

.info-contact{
    margin-top : 6em;
    margin-left: 3em;
}


.info-contact .fa-solid{
    margin-right: 0.5em;
}



// FORM
.input {
    padding: 0.5em 1em;
    box-sizing: border-box;
    width:100%
}


.textarea {
    width: 30em;
    height: 230px;
    resize: none;
    box-sizing: border-box;
}


.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}


::placeholder {
    font-style: italic;
    font-size: 1.2rem;
}


.toolbar {
    display: flex;
    justify-content: center;
    margin-top:1em
}




.form-container {
    margin: 0 auto;
    padding: 2em;


}
.field-flex{
    display:flex;
    flex-direction: row;
    gap: 5em;
    justify-content: center;
}

.left-fields{
    width:20em;
}


.toolbar {
    margin-top: 1.5rem;
    width: 100%;
}
