@use "../abstracts" as *;
//@import 'normalize.css';

// price modal

.content-wrapper {
    transition: filter 0.3s ease-in-out;
    padding: 20px;

}

.content-wrapper.blurred {
    filter: blur(4px);
    pointer-events: none; /* Disables clicks on the background */
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: $color-beige;
    padding: 20px;
    border-radius: 8px;
    border:2px solid $color-green;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 20;
    pointer-events: none;
    width: 80%;
    max-width: 800px; /* limits width on large screens */
    max-height: 90vh; /* limits visible height to 90% of the screen */
    overflow-y: auto; /* allows vertical scroll inside */
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    pointer-events: auto;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9aa584;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.modal-header .title {
    flex: 1;
    text-align: center;
    font-size: $font-size-h2;
    font-family: $font-family-title;
    font-weight: bold;
}

.modal-body p {
    font-size: 1.4rem;
    margin-bottom: 2em;
    line-height: 1.4;
    margin-left:2em;
    display:flex;
    flex-direction: column;
    gap:1em;
}

.modal-header .close-button {
    align-self: flex-start;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
    padding:0;
    margin:0;
}


.tarif-item {
    display: flex;
    align-items: center; /* price aligned with the first line */
    justify-content: space-between;
    padding: 1em 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}


.description-wrapper {
    display: flex;
    flex-direction: column; /* secondary line below */
}


.description-secondary {
    font-size: 0.9em;
    color: #555;
}

.tarif-item .dots {
    flex: 1;
    border-bottom: 1px dotted #888;
    margin: 0 1em; /* space between description and price */
}


.tarif-item .price {
    flex-shrink: 0;
    font-weight: bold;
    text-align: right;
    min-width: 4em;
}


.devis{
    padding-top:2em;
    font-weight: bold;
}


section p {
    padding-left: 3em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.button-section-flex{
    display:flex;
    flex-direction: row;
    //gap:4em;
    justify-content: space-evenly;
}

.p-underline{
    text-decoration: underline;
    font-weight:bold;
    text-align: center;
}

.p-padding{
    padding-top:5em;
    padding-top:5em;
    padding-bottom: 0.5em;
    text-decoration:underline;
    font-weight:bold;
}

.ul-padding{
    padding-left:3em;
}

.services-garde-dom{
    padding: 1em 1em 3em 3em;
    width:60%;
}

.services-educ{
    width:70%;
    padding: 1em 1em 3em 3em;
}

.img-services-educ{
    text-align:center;
}

button, .button{
    margin-top:2em;
    margin-bottom:3em;
    font-size:1.4rem;
}

// collapsible list for home care
.garde-dom p {
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
    background-color: $color-green;
    border-radius: 10px;
    padding:1.3em;
    transition: color 0.2s;
}

.garde-dom{
    display:flex;
    flex-direction: row;
    gap:2em;
    justify-content:space-around;
    margin-bottom: 2em;
}

.garde-item {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.garde-dom ul {
    //margin-left: 10px;
    display: none; /* hidden by default */
}

.garde-dom ul.visible {
    display: flex;
    flex-direction: column;
    padding:0.5em;
}

.video-pension{
    width:80%;
    border-radius:20em;
    margin-top:1em;
}

.video-container{
    text-align: center;
}

.text-videopension-flex{
    display:flex;
    flex-direction: row;
    margin-bottom: 2em;
    gap:2em;
}

@media (max-width: 768px) {
    .tarif-item {
        flex-direction: column;
        align-items: center; /* horizontally centers all elements */
        text-align: center; /* centers text in spans */
    }

    .tarif-item .description-wrapper {
        width:100%;
        text-align: center; /* for secondary lines */
    }

    .tarif-item .description,
    .tarif-item .price {
        padding: 0;
        margin: 0;
    }


    .tarif-item .dots {
        display: none;
    }

    .tarif-item .price {
        margin-top: 0.3em;

    }

    .button{
        font-size: 1.2rem;
    }
    button{
        font-size: 1.2rem;
    }

    .garde-dom p {
        font-size:1.2rem;
    }

    .garde-dom{
        flex-direction: column;
        width:20em;
        margin-left:3em;
        align-items: center;
    }

    .garde-item{
        align-items: center;
    }

    .garde-dom ul.visible {
        text-align:center;
    }

    .services-garde-dom{
        width:100%;
    }

    .services-educ{
        width:100%;
    }

    .video-pension{
        width:60%;
        border-radius:5em;
        padding-right:0
    }

    .video-container{
        text-align:center;
    }

    .text-videopension-flex{
        display:flex;
        flex-direction: column;

    }
}
