<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}


       {#Combiner Twig et JS pour gestion des cookies: #}
        {#twig va vérifier si le cookie existe, si non, affiche la banière#}
        {#JS permet de cliquer sur accepter ou refuser, envoye le choix au serveur via fetch, masque ensuite la banière sans devoir recharger la page#}
        {% if app.request.cookies.get('cookie') is not defined %}
            <div id="cookie-banner">
                Ce site utilise des cookies.
                <button id="accept">Accepter</button>
                <button id="reject">Refuser</button>
            </div>
        {% endif %}

        <script>
            // JS pour gérer le clic
            document.getElementById('accept').addEventListener('click', () => sendConsent(true));
            document.getElementById('reject').addEventListener('click', () => sendConsent(false));

            function sendConsent(accept) {
                fetch('/cookie', { // on envoie une requete HTTP à l'URL /cookie
                    method: 'POST', //on envoie la requete en POST (on transmet des données)
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}, // précise que le corps de la requete est encodé comme un formulaire, càd sous la forme clé=valeur
                    body: 'accept=' + accept // le corps de la requete contient la donné accept avec la valeur du paramètre, si accept vaut true, accept=true, sinon accept=false
                }).then(() => { // renvoie une promesse qui se résout quand la réponse du serveur arrive
                    document.getElementById('cookie-banner').style.display = 'none'; // quand la réponse arrive, la banière de consentement va disparaitre car une réponse a été apportée
                });
            }
        </script>


    </body>
</html>
